/* Basic CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  background-image: radial-gradient(circle, oklch(70% 0.2 240) 0 200px, oklch(90% 0.1 240) 300px 100%);
}
body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  place-items: center;
  justify-content: center;
}

.card{
  --total-siblings: sibling-count();
  --index: sibling-index();
  --angle: calc(300 + ( var(--index) - 1 ) * (120 / var(--total-siblings)));
  --radius: 200px;
  position: absolute;
  transform: translate( calc(cos(var(--angle) * var(--radius))), calc(sin(var(--angle) * var(--radius))));
  /* top:0; */
  height: 30vh;
  width: 200px;
  border-radius: 15px;
  background-color: oklch(calc(var(--index) * 10% + 20%) 0.15 100);
}